doctype html
html
    head
        title Stalker
        meta name="keywords" content="template language"
        meta name="author" content="havet/douillyez"
        link rel="icon" type="image/png" href="favicon.png"
        link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
        script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"
        css:
            h1{
                padding: 20px 0;            
            }
            #content {
                width: 1400px;
                margin: auto;
            }
            #init {
                padding: 30px 0;
            }
            #world {
                border-collapse: collapse;
                padding: 50px;
                border: 1px solid lightblue;
                float: left;
            }
            #world td {
                width: 10px;
                height: 10px;
            }
            .idol{ background-color: yellow; }
            .stalker{ background-color: red; }
            .block{ background-color: black; }
            #infos {
                float: left;
            }
            #infos ul {
                list-style: none;
            }
            #infos p {
                font-size: 18px;
            }

    body
        #content
            h1 Schelling Segregation Simulation

            form#init.form-inline
                .form-group
                    input.form-control name="size" placeholder="Taille"
                    input.form-control name="stalker_population" placeholder="Population de stalkers"
                    input.form-control name="block_population" placeholder="Population de blocks"
                    input.form-control name="strategy" placeholder="Strategie"
                    button.btn name="run"
                        'Run !

            table#world

            #infos
                ul
                    li
                        'Nombre d'itérations :
                        strong#iterations
                    
    javascript:
        var running,
            iterations = 0,
            delay = 100;

        var sizeStalker,
            stalker,
            blocks,
            statisfaction_rate;

        $( "#init" ).on( 'click', 'button[name="run"]', function(e){
            e.preventDefault(); e.stopPropagation();

            window.running = false;

            if ( $('input[name="size"]').val() ) { window.sizeStalker = $('input[name="size"]').val(); } else { window.sizeStalker = 50; $('input[name="size"]').val(window.sizeStalker); }
            if ( $('input[name="stalker_population"]').val() ) { window.stalkers = $('input[name="stalker_population"]').val(); } else { window.stalkers = 3; $('input[name="stalker_population"]').val(window.stalkers); }
            if ( $('input[name="block_population"]').val() ) { window.blocks = $('input[name="block_population"]').val(); } else { window.blocks = 50; $('input[name="block_population"]').val(window.blocks); }
            if ( $('input[name="strategy"]').val() ) { window.strategy = $('input[name="strategy"]').val(); } else { window.strategy = 0; $('input[name="strategy"]').val(window.strategy); }

            window.init();
            window.running = confirm("L'expérience a été initialisée, appuyez sur OK pour démarrer\n(à tout moment, vous pouvez arrêter et redémarrer l'expérience en appuyant sur la touche 'S')");
            window.run();
        });

        $(document).on('keypress', function(event) {
            if ( event.which == 115 ) {
                window.running ? alert('Arrêt') : alert('Redémarrage');
                window.running = !window.running;
                if ( window.running ) {
                    window.run();
                }
            }
        });

        function call( url ) {

            $.ajax({
                url: url,
                context: $( "#content" )
            }).done(function(data) {
                var $this = $( this ),
                    $table = $this.find( '#world' ),
                    $iterations = $this.find( '#iterations' ),
                    $global_satisfaction_rate = $this.find( '#global_satisfaction_rate' );

                $( this ).addClass( "done" );

                // datas process
                window.iterations = data.iteration;
                $iterations.text( window.iterations );
                // $global_satisfaction_rate.text( data.global_satisfaction_rate );

                // data process END

                // update grid
                $table.empty();

                $.each( data.grid, function( index, line ) {
                    var $tr = $( '<tr>' );

                    $.each( line, function( index, square ) {
                        var $td = $( '<td>' );

                        if ( square != null ) {
                            $td.addClass( square );
                        }
                        $tr.append( $td );
                    });

                    $table.append( $tr );
                });
                // update grid END

            }).fail(function( error ) {
                console.log(error);
            }).always(function() {
                setTimeout( turn, window.delay );
            });
        }

        function init() {
            //init/:size/:stalker_population/:block_population/:satifaction_rate
            call( "init/" + window.sizeStalker + "/" + window.stalkers + "/" + window.blocks + "/" + window.strategy);
        }

        function turn() {
            if ( window.running ) {
                call( "turn" );
            }
        }

        function run() {
            turn();
        }